@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --spacing: 1.5rem;
    --body-font: "Mona Sans", sans-serif;

    --black: #2b2b2b;
    --pale: #e7f0c8;
    --white: #ffffff;
}

html{scroll-behavior: smooth;}

body {
    font-family: var(--body-font);
    font-size: calc(0.7*var(--spacing));
    font-weight: 400;
    color: var(--black);
    background: var(--pale);
    line-height: calc(1.2*var(--spacing));
    padding: var(--spacing);
    text-align: center;
}

h1 {
    font-size: calc(2*var(--spacing));
    font-weight: 550;
    text-transform: uppercase;
    line-height: calc(2.5*var(--spacing));
}

header {
    padding-block: calc(3*var(--spacing));
}

.placeholder {
    display: block;
    inline-size: 100%;
    block-size: calc(18*var(--spacing));
    background: var(--white);
    margin-block-start: calc(4*var(--spacing));
}

h2 {
    font-size: calc(1.2*var(--spacing));
    font-weight: 550;
    line-height: calc(1.5*var(--spacing));
    padding-block: calc(0.6*var(--spacing));
/* !!! put each side on different container so that it looks equal */
}

h3 {
    font-size: calc(0.8*var(--spacing));
    font-weight: 550;
    line-height: calc(1.4*var(--spacing));
}

.image-controller {
    inline-size: calc(7*var(--spacing));
    block-size: auto;
    overflow: hidden;
}

.image-box {
    background: var(--white);
    padding: calc(0.3*var(--spacing));
    display: flex;
    flex-direction: column;
    gap: calc(0.1*var(--spacing));
    display: block;
    block-size: inline-block;
}

.grid {
    text-align: left;

    display: grid;
    grid-template-columns: calc(7.6*var(--spacing)) calc(8*var(--spacing));
    grid-gap: calc(0.5*var(--spacing));
}

