@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Paytone+One&display=swap');

:root{
    --spacing: 1.5rem;
    --head-font: "Paytone One", sans-serif;
    --body-font: "Mona Sans", sans-serif;

    --black: #2b2b2b;
    --background: #FBF0E5;
}

html{scroll-behavior: smooth;}

/* ------ color ids ------ */
#saffron { color: #ff4c28; }
#blue { color: #1472FF; }

#green { color: #37d6a4; }
#pink { color: #ec8fff; }

#yellow { color: #ffd335; }
#peach { color: #ff8fa7; }

#blue { color: #36a8ff; }
#lime { color: #cbed74; }

#purple { color: #b379ff; }
#orange { color: #ed9474; }

#red { color: #ff6c6c; }
#turquose { color: #5cecdd; }

body {
    font-family: var(--body-font);
    font-size: calc(0.7*var(--spacing));
    font-weight: 400;
    color: var(--black);
    background: var(--background);
    line-height: calc(1.1*var(--spacing));
    text-align: left;
    padding-inline: 2%;
}

h1,
h2 {
    font-family: var(--head-font);
    color: var(--pink);
    text-transform: uppercase;
    line-height: calc(3*var(--spacing));
}

h1 {
    font-size: calc(2.8*var(--spacing));
}

h2 {
    font-size: calc(2.2*var(--spacing));
}

/* bunch of white containers */
.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: calc(0.5*var(--spacing));
    align-items: center;
    justify-content: center;
    padding-block: calc(2*var(--spacing));
}

/* <---- Content size controllers -----> */

/* to control the size of img */
.image-controller {
    inline-size: calc(8*var(--spacing));
    block-size: 100%;
    overflow: hidden;
}

.text-controller {
    background: var(--pink) 70%;
    padding: calc(0.6*var(--spacing));
    padding-block-start: calc(2.8*var(--spacing));
    inline-size: calc(18*var(--spacing));
    position: relative;
}

/* quotation mark symbol */
.text-controller::before {
    content: "“”";
    font-family: var(--body-font);
    font-weight: 600;
    font-size: calc(3*var(--spacing));
    position: absolute;
    top: 0.5em;
    left: 0.2em;
}

.embed-controller {
    inline-size: calc(14*var(--spacing));
    /* aspect-ratio: 1/1; */
    block-size: auto;
    overflow: hidden;
}

/* white container */
/* .embed-box {
    background: var(--grey);
    padding: calc(0.3*var(--spacing));
    padding-inline-end: calc(0.8*var(--spacing));
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: calc(0.3*var(--spacing));
    block-size: inline-block;
    position: relative;
} */

/* play symbol */
/* .embed-box::before {
    content: "▶︎";
    font-size: var(--spacing);
    position: absolute;
    top: 0.6em;
    right: 6.1em;
} */

.link-controller {
    background: var(--pink);
    padding-inline: calc(1.5*var(--spacing));
    padding-block: calc(0.6*var(--spacing));

    display: block;
    inline-size: inline-block;
}


a {
    text-decoration: underline;
    text-underline-offset: 0.3em;
}

a:hover {
    opacity: 70%;
}

header,
section {
    min-block-size: 100vh;
    block-size: auto;
    position: relative;
    overflow: hidden;
}

section {
    padding-block-start: calc(6*var(--spacing));
}

footer {
    margin-block-start: calc(10*var(--spacing));
}

/* 
.clutter-1,
.clutter-2,
.clutter-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
}

.main-clutter {
    margin-block: calc(10*var(--spacing));
    margin-inline: auto;
    inline-size: 80%;
    min-block-size: calc(35*var(--spacing));
    text-align: left;
    position: relative;
}

.clutter-1 {
    z-index: 3;
}

.clutter-1 > :nth-child(odd) {
    transform: translateY(-5em) rotate(15deg);
}

.clutter-1 > :nth-child(even) {
    transform: translateY(-2em) rotate(-15deg);
}

.clutter-2 {
    z-index: 1;
}

.clutter-2 > :nth-child(odd) {
    transform: translateY(10em) rotate(15deg);
}

.clutter-2 > :nth-child(even) {
    transform: translateY(-8em) rotate(-35deg);
}

.clutter-3 {
    z-index: 2;
    gap: calc(5*var(--spacing));
}

.clutter-3 > :nth-child(odd) {
    transform: translateY(6em) rotate(15deg);
}

.clutter-3 > :nth-child(even) {
    transform: translateY(1em) rotate(-5deg);
} */

/* !!! need to add hover effect on white box that zooms in
    .clutter-1:nth-child():hover {
    transform: scale(1.1);
} */