@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Paytone+One&display=swap');

:root{
    --spacing: 1.5rem;
    --head-font: "Paytone One", sans-serif;
    --body-font: "Mona Sans", sans-serif;

    --black: #2b2b2b;
    --background: #FBF0E5;
}

html{scroll-behavior: smooth;}

/* ------ color ids ------ */
#saffron { color: #ff431d; }
#blue { background: #1472FF; }

#green { color: #37d6a4; }
#pink { background: #d497e0; }

#yellow { color: #ffc117; }
#peach { background: #ff8fa7; }

#pale-blue { color: #36a8ff; }
#lime { background: #d6f094; }

#purple { color: #b379ff; }
#orange { background: #ffb296; }

#red { color: #ff6c6c; }
#turquose { background: #5cecdd; }

body {
    font-family: var(--body-font);
    font-size: calc(0.7*var(--spacing));
    font-weight: 400;
    color: var(--black);
    background: var(--background);
    line-height: calc(1.1*var(--spacing));
    text-align: left;
    padding-inline: 3%;
}

header {
    display: flex;
    flex-direction: column;
    gap: calc(1.2*var(--spacing));
}

h1,
h2 {
    font-family: var(--head-font);
    color: var(--pink);
    text-transform: uppercase;
    line-height: calc(3*var(--spacing));
}

h1 {
    font-size: calc(2.6*var(--spacing));
}

h2 {
    font-size: calc(2*var(--spacing));
}

p {
    max-inline-size: 50ch;
}

.box {
    /* background: #1472FF; */
    inline-size: 100%;
    min-block-size: 80vh;
    margin-block: calc(1.2*var(--spacing));
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: calc(0.2*var(--spacing));
    padding-block: calc(1.5*var(--spacing));
    /* max-inline-size: calc(20*var(--spacing)); */
}

/* <---- Content size controllers -----> */

/* to control the size of img */
.image-controller {
    inline-size: calc(6.5*var(--spacing));
    block-size: 100%;
    overflow: hidden;
}

.text-controller {
    background: var(--pink);
    padding: calc(0.6*var(--spacing));
    padding-block-start: calc(2.8*var(--spacing));
    max-inline-size: calc(18*var(--spacing));
    position: relative;
}

/* quotation mark symbol */
.text-controller::before {
    content: "“”";
    font-family: var(--body-font);
    font-weight: 600;
    font-size: calc(3*var(--spacing));
    position: absolute;
    top: 0.5em;
    left: 0.2em;
}

.embed-controller {
    inline-size: calc(14*var(--spacing));
    block-size: auto;
    overflow: hidden;
}

.audio-embed-controller {
    inline-size: calc(14*var(--spacing));
    block-size: auto;
    overflow: hidden;
}

.link-controller {
    background: var(--green);
    padding-inline: calc(1.5*var(--spacing));
    padding-block: calc(0.6*var(--spacing));

    display: block;
    inline-size: inline-block;
}

.attachment-controller {
    inline-size: calc(6.5*var(--spacing));
    block-size: 100%;
    overflow: hidden;
}

strong {
    font-weight: 600;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.center-align {
    text-align: center;
}

.h1-div {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    padding-block: 8%;
}

.h2-div {
    display: flex;
    flex-direction: column;
    padding-block: 8%;
}

.title {
    display: flex;
    flex-direction: column;
    gap: calc(0.5*var(--spacing));
}

a {
    text-decoration: underline;
    text-underline-offset: 0.2em;
}

a:hover {
    opacity: 70%;
}
section {
    padding-block-start: calc(6*var(--spacing));
}

footer {
    margin-block-start: calc(10*var(--spacing));
    display: flex;
    flex-direction: column;
    gap: calc(0.5*var(--spacing));
    padding-block: var(--spacing);
}

@media (width>500px) {
    :root {
        font-size: 110%;
    }

    h1 {
        font-size: calc(3.4*var(--spacing));
    }

    h2 {
        font-size: calc(2.5*var(--spacing));
    }
    
}

@media (width>750px) {
    :root {
        font-size: 120%;
    }

    h1 {
        font-size: calc(4*var(--spacing));
    }

    h2 {
        font-size: calc(3.5*var(--spacing));
    }

    .h1-div,
    .h2-div {
        gap: calc(2*var(--spacing));
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
    }

    ul {
        gap: calc(0.8*var(--spacing));
    }
}

@media (width>1000px) {
    :root {
        font-size: 130%;
    }

    h1 {
        font-size: calc(4.5*var(--spacing));
    }

    .h2-div {
        padding-block: initial;
        gap: var(--spacing);
    }

    .title {
        flex-direction: row;
        gap: calc(1.5*var(--spacing));
        align-items: flex-end;
    }
}

@media (width>1400px) {

    .h1-div {
        padding-block: 4%;
        gap: calc(-1*var(--spacing));
        padding-block-end: var(--spacing);

    }

    .h2-div {
        /* padding-block: 4%;
        gap: calc(1*var(--spacing));
        padding-block-end: var(--spacing); */
    }

    body {
        max-inline-size: calc(45*var(--spacing));
        margin-inline: auto;
    }

}


.clutter-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
}

.main-clutter {
    padding-block: calc(5*var(--spacing));
    margin-inline: auto;
    inline-size: 100%;
    min-block-size: 80vh;
    overflow: hidden;
    position: relative;
}

.clutter-1 > :nth-child(odd) {
    transform: translateY(-5em) rotate(15deg);
}

.clutter-1 > :nth-child(even) {
    transform: translateY(-2em) rotate(-15deg);
}

/* li:hover {
    z-index: 10;
    transform: scale(1.5);
} */

/* 
.clutter-2 {
    z-index: 1;
}

.clutter-2 > :nth-child(odd) {
    transform: translateY(10em) rotate(15deg);
}

.clutter-2 > :nth-child(even) {
    transform: translateY(-8em) rotate(-35deg);
}

.clutter-3 {
    z-index: 2;
    gap: calc(5*var(--spacing));
}

.clutter-3 > :nth-child(odd) {
    transform: translateY(6em) rotate(15deg);
}

.clutter-3 > :nth-child(even) {
    transform: translateY(1em) rotate(-5deg);
} */

/* !!! need to add hover effect on white box that zooms in
    .clutter-1:nth-child():hover {
    transform: scale(1.1);
} */