@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Paytone+One&display=swap');

:root{
    --spacing: 1.5rem;
    --head-font: "Paytone One", sans-serif;
    --body-font: "Nunito", sans-serif;

    --black: #2b2b2b;
    --background: #b43c48;
    --white: #f1f1f1;
    --grey: #e0e0e0;
    --pink: #E79FFF;
    --yellow: #ffd06b;
    --blue: #50eeff;
    --green: #6feb6f;
    --purple: #bfacff;
}

html{scroll-behavior: smooth;}

body {
    font-family: var(--body-font);
    font-size: calc(0.7*var(--spacing));
    font-weight: 400;
    color: var(--black);
    background: var(--background);
    line-height: calc(1.1*var(--spacing));
    padding: calc(0.5*var(--spacing));
    text-align: center;
    margin-inline: auto;
}

h1 {
    font-family: var(--head-font);
    font-size: calc(3.6*var(--spacing));
    color: var(--pink);
    text-transform: uppercase;
    line-height: calc(3*var(--spacing));
}

h2 {
    font-family: var(--head-font);
    font-size: calc(1.4*var(--spacing));
    line-height: calc(1.7*var(--spacing));
    padding-block: calc(0.8*var(--spacing));
    display: inline-block;
/* !!! put each side on different container so that it looks equal */
}

.h2-line {
    display: flex;
    flex-direction: column;
    gap: calc(6*var(--spacing));
}

h3 {
    font-size: calc(0.7*var(--spacing));
    font-weight: 600;
    line-height: calc(1*var(--spacing));
}

#white {
    color: var(--white);
    font-size: calc(0.8*var(--spacing));
    line-height: calc(1.2*var(--spacing));
}

#green {
    color: var(--green);
}

#blue {
    color: var(--blue);
}

#pink {
    color: var(--pink);
}

#yellow {
    color: var(--yellow);
}

#purple {
    color: var(--purple);
}

/* bunch of white containers */
.grid {
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: calc(0.5*var(--spacing));
    align-items: center;
    justify-content: center;
    padding-block: calc(2*var(--spacing));
}

/* <---- Content type: Image -----> */

/* to control the size of img */
.image-controller {
    inline-size: calc(6*var(--spacing));
    block-size: 100%;
    overflow: hidden;
}

/* white container */
.image-box {
    background: var(--grey);
    padding: calc(0.2*var(--spacing));
    display: flex;
    flex-direction: column;
    gap: calc(0.1*var(--spacing));
    display: block;
    display: inline-block;
}

/* <---- Content type: Embed -----> */

/* to control the size of img */
.embed-controller {
    inline-size: calc(5*var(--spacing));
    aspect-ratio: 1/1;
    overflow: hidden;
}

/* white container */
.embed-box {
    background: var(--grey);
    padding: calc(0.3*var(--spacing));
    padding-inline-end: calc(0.8*var(--spacing));
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: calc(0.3*var(--spacing));
    /* display: block; */
    block-size: inline-block;
    position: relative;
}

/* play symbol */
.embed-box::before {
    content: "▶︎";
    font-size: var(--spacing);
    position: absolute;
    top: 0.6em;
    right: 6.1em;
}


/* <---- Content type: Link -----> */

/* white container */
.link-box {
    background: var(--grey);
    padding-inline: calc(1.5*var(--spacing));
    padding-block: calc(0.6*var(--spacing));

    display: block;
    inline-size: inline-block;
}

/* globe symbol */
/* .link-box:before {
    content: "🌐";
    font-size: var(--spacing);
    position: absolute;
    top: 0.6em;
    left: 0.4em;
} */

/* white container */
.text-box {
    background: var(--grey);
    padding: calc(0.6*var(--spacing));
    padding-block-start: calc(2.8*var(--spacing));

    inline-size: calc(18*var(--spacing));
    position: relative;
}

/* quotation mark symbol */
.text-box::before {
    content: "“”";
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: calc(3*var(--spacing));
    position: absolute;
    top: 0.5em;
    left: 0.2em;
}


a {
    text-decoration: underline;
    text-underline-offset: 0.3em;
}

a:hover {
    opacity: 70%;
}

header,
section {
    min-block-size: 100vh;
    block-size: auto;
    position: relative;
    overflow: hidden;
}

section {
    padding-block-start: calc(6*var(--spacing));
}

.wobbly-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(1.5*var(--spacing));
    padding-block: calc(2*var(--spacing));
}

.wobbly-text span {
    display: inline-block;
}

/* translateY(value) moves the letter up or down. Negative number moves it up, and positive one moves it down */
.wobbly-text span:nth-child(1) { 
    transform: translateY(-1px) rotate(-5deg);
}
.wobbly-text span:nth-child(2) {
    transform: translateY(2px) rotate(3deg);
}
.wobbly-text span:nth-child(3) {
    transform: translateY(-2px) rotate(-8deg);
}
.wobbly-text span:nth-child(4) {
    transform: translateY(3px) rotate(10deg);
}

.image-box,
.embed-box,
.link-box,
.text-box {
    /* box-shadow: horizontal-offset vertical-offset blur-radius spread-radius color + opacity; */
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.1);
}

footer {
    margin-block-start: calc(10*var(--spacing));
}

.clutter-1,
.clutter-2,
.clutter-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
}

.main-clutter {
    margin-block: calc(10*var(--spacing));
    margin-inline: auto;
    inline-size: 80%;
    min-block-size: calc(35*var(--spacing));
    text-align: left;
    position: relative;
}

.clutter-1 {
    z-index: 3;
}

.clutter-1 > :nth-child(odd) {
    transform: translateY(-5em) rotate(15deg);
}

.clutter-1 > :nth-child(even) {
    transform: translateY(-2em) rotate(-15deg);
}

.clutter-2 {
    z-index: 1;
}

.clutter-2 > :nth-child(odd) {
    transform: translateY(10em) rotate(15deg);
}

.clutter-2 > :nth-child(even) {
    transform: translateY(-8em) rotate(-35deg);
}

.clutter-3 {
    z-index: 2;
    gap: calc(5*var(--spacing));
}

.clutter-3 > :nth-child(odd) {
    transform: translateY(6em) rotate(15deg);
}

.clutter-3 > :nth-child(even) {
    transform: translateY(1em) rotate(-5deg);
}

/* !!! need to add hover effect on white box that zooms in
    .clutter-1:nth-child():hover {
    transform: scale(1.1);
} */

@media (width>1000px) {
    .wobbly-text {
        flex-direction: row;
        gap: calc(2*var(--spacing));
    }

    h2 {
        transform: scale(1.3);
    }
}





/* TASKS TO DO:
- apply flexbox to the footer
- consider adding scrollbar in side */
