@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Paytone+One&display=swap');

:root{
    --spacing: 1.5rem;
    --head-font: "Paytone One", sans-serif;
    --body-font: "Mona Sans", sans-serif;

    --black: #2b2b2b;
    --background: #FBF0E5;
}

html{scroll-behavior: smooth;}

/* ------ color ids ------ */
#saffron { color: #ff431d; }
#blue { background: #1472FF; }

#green { color: #37d6a4; }
#pink { background: #d497e0; }

#yellow { color: #ffc117; }
#peach { background: #ff8fa7; }

#pale-blue { color: #36a8ff; }
#lime { background: #d6f094; }

#purple { color: #b379ff; }
#orange { background: #ffb296; }

#red { color: #ff6c6c; }
#turquose { background: #5cecdd; }

body {
    font-family: var(--body-font);
    font-size: calc(0.7*var(--spacing));
    font-weight: 400;
    color: var(--black);
    background: var(--background);
    line-height: calc(1.1*var(--spacing));
    padding-inline: 3%;
    text-align: center;
    justify-items: center;
}

/* ------ TEXT SIZES AND STYLES FOR H1, H2, AND P */
h1,
h2 {
    font-family: var(--head-font);
    text-transform: uppercase;
}

h1 { font-size: calc(3.5*var(--spacing)); }
h2 { font-size: calc(2.5*var(--spacing)); }

p {
    max-inline-size: 50ch;
    margin-inline: auto;
}

strong {
    font-weight: 600;
}

a { transition: color 0.3s ease-in-out; }

a:hover { color: #ff431d; }


/* ------ LAYOUT ITEMS */
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inline-size: 100%;
    min-block-size: 60vh;
    padding-block: calc(2*var(--spacing));
    margin-block: calc(1.2*var(--spacing));
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: calc(0.5*var(--spacing));
    overflow: hidden;
    margin-inline: auto;
    padding: var(--spacing);
}

/* li is representing each block of arena */
li {
    transition: all 1s ease-in-out;
    will-change: transform;
    transform: rotate(var(--rotation));
    /* filter: grayscale(); */
}

li.rotate {
    transform: initial;
    /* filter: grayscale(0); */
    
}

header li.rotate {
    transform: rotate(calc(-1*var(--rotation)));
}

header > .box {
    /* filter: grayscale(); */
}

header > ul {
    inline-size: 100%;
}


/* ------ ARENA BLOCKS: EACH CONTENT TYPE STYLING */

/* to control the size of img */
.image-controller {
    block-size: calc(6.5*var(--spacing));
    border: 1.5em solid var(--background);
    aspect-ratio: 1/1;
    overflow: hidden;
}

.image-controller img {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
}

.text-controller {
    padding: calc(0.6*var(--spacing));
    padding-block-start: calc(2.7*var(--spacing));
    max-inline-size: calc(26*var(--spacing));
    position: relative;
    text-align: left;
    background: var(--background);
}

/* quotation mark symbol */
.text-controller::before {
    content: "“”";
    font-family: var(--head-font);
    letter-spacing: calc(0.3*var(--spacing));
    color: #36a8ff;
    font-size: calc(2.5*var(--spacing));
    position: absolute;
    top: 0.5em;
    left: 0.2em;
}

.embed-controller,
.audio-embed-controller {
    inline-size: calc(14*var(--spacing));
    overflow: hidden;
}

.link-controller {
    padding: calc(0.5*var(--spacing));
    max-inline-size: calc(8*var(--spacing));
    background: var(--background);
    border-left: 0.3em solid #b379ff;
}

.attachment-controller {
    inline-size: calc(6.5*var(--spacing));
    block-size: 100%;
    overflow: hidden;
}

/* ------ ADDITIONAL STYLING */
.h1-div {
    display: flex;
    flex-direction: column;
    gap: calc(2*var(--spacing));
    padding-block: calc(4*var(--spacing));
}

.h2-div {
    display: flex;
    flex-direction: column;
    padding-block: calc(2*var(--spacing));
    text-align: center;
    margin-block-start: calc(6*var(--spacing));
}

.h1-div ul,
.h2-div ul {
    gap: calc(0.1*var(--spacing));
    padding-inline: initial;
    overflow: initial;
}

header,
section,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    margin-block-start: calc(10*var(--spacing));
    gap: calc(0.5*var(--spacing));
    padding-block: var(--spacing);
}

/* ------ CREATING THE CLUTTER IN HERO SECTION */
.clutter {
    gap: calc(-1*var(--spacing));
    overflow: initial;
}

.clutter li {
    margin: calc(-1*var(--spacing));
    filter: grayscale();
}

.clutter li:hover {
    z-index: 10;
    transform: scale(1.2);
    filter: grayscale(0);
}

#channel-blocks li:nth-child(n+16) {
    display: none;
}

/* ------ MEDIA QUERIES */
@media (width > 900px) {
    :root {
        font-size: 120%;
    }

    .h1-div,
    .h2-div,
    footer {
        flex-direction: row;
    }

    .h1-div {
        gap: calc(2.5*var(--spacing));
    }

    .h2-div {
        gap: calc(1.5*var(--spacing));
    }

    footer {
        inline-size: 100%;
        justify-content: space-between;
    }
}


@media (width > 1400px) {
    .h1-div,
    .h2-div {
        gap: calc(7*var(--spacing));
    }

    h1,
    h2 {
        transform: scale(1.5);
    }

    .box {
        padding: calc(2.5*var(--spacing));
    }

    #channel-blocks li:nth-child(n+16) {
    display: initial;
    }
}


/* ------ NEW CODE LINES FROM ERIC'S LOOM VIDEO */

button {
  padding: calc(0.5 * var(--spacing));
  background: #ffb296;
}

button:hover {
    transition: 0.3s ease-in-out;
  background: #ff8fa7;
}

/* #channel-blocks {

  &. show-images {
    li {
      display: none;
    }

    li.image-block {
      display: block;
    }
  }

  &.show-text {
    li {
      display: none;
    }

    li.text-block {
      display: block;
    }
  }
} */

#channel-blocks.show-images li { display: none;}
#channel-blocks.show-images li.image-block { display: block;}

#channel-blocks.show-text li { display: none;}
#channel-blocks.show-text li.text-block { display: block;}


