@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Paytone+One&display=swap');

:root{
    --spacing: 1.5rem;
    --head-font: "Paytone One", sans-serif;
    --body-font: "Mona Sans", sans-serif;

    --black: #2b2b2b;
    --background: #FBF0E5;
    --shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

html{scroll-behavior: smooth;}

/* ------ color ids ------ */
#saffron { color: #ff431d; }
#blue { background: #1472FF; }

#green { color: #37d6a4; }
#pink { background: #d497e0; transition: 0.5s ease-in-out; }

#yellow { color: #ffc117; }
#peach { background: #ff8fa7; }

#pale-blue { color: #36a8ff; }
#lime { background: #d6f094; }

#purple { color: #b379ff; }
#orange { background: #ffb296; }

#red { color: #ff6c6c; }
#turquose { background: #5cecdd; }

body {
    font-family: var(--body-font);
    font-size: calc(0.7*var(--spacing));
    font-weight: 400;
    color: var(--black);
    background: var(--background);
    line-height: calc(1*var(--spacing));
    text-align: center;
    justify-items: center;
}

/* ------ TEXT SIZES AND STYLES FOR H1, H2, AND P */
h1,
h2 {
    font-family: var(--head-font);
    text-transform: uppercase;
}

h1 { font-size: calc(2.8*var(--spacing)); }
h2 { font-size: calc(2.5*var(--spacing)); }

p {
    max-inline-size: 90%;
}

strong {
    font-weight: 600;
}

a { transition: color 0.3s ease-in-out; }

a:hover { color: #ff431d; }


/* ------ LAYOUT ITEMS */
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-block-size: 70vh;
    inline-size: 100%;
    padding-block: calc(2*var(--spacing));
    margin-block: calc(1.2*var(--spacing));
    overflow: hidden;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: calc(0.5*var(--spacing));
    /* overflow: hidden; */
    margin-inline: auto;
    padding: var(--spacing);
}

/* li is representing each block of arena */
li {
    transition: all 0.3s ease-in-out;
    transform: rotate(var(--rotation));
    transition: all 0.3s ease-in-out;
}

li.rotate {
    transform: initial;
    transition: all 0.3s ease-in-out;
}

header li.rotate {
    transform: rotate(calc(-1*var(--rotation)));
}

header ul {
    padding-block: calc(1.2*var(--spacing));
}

.title {
    padding-block: calc(2.5*var(--spacing));
}

#channel-blocks {
    padding-block-start: calc(3*var(--spacing));
    padding-block-end: calc(5*var(--spacing));
}


/* ------ ARENA BLOCKS: EACH CONTENT TYPE STYLING */

/* to control the size of img */
.image-controller {
    block-size: calc(6.5*var(--spacing));
    border: 1.5em solid var(--background);
    aspect-ratio: 1/1;
    overflow: hidden;
    box-shadow: var(--shadow);
}

.image-controller img {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
}

.text-controller {
    padding: calc(0.6*var(--spacing));
    padding-block-start: calc(2.7*var(--spacing));
    max-inline-size: calc(24*var(--spacing));
    position: relative;
    text-align: left;
    background: var(--background);
    box-shadow: var(--shadow);
    overflow: hidden;
}

.text-controller p {
    max-inline-size: initial;
}

/* quotation mark symbol */
.text-controller::before {
    content: "“”";
    font-family: var(--head-font);
    letter-spacing: calc(0.3*var(--spacing));
    color: #36a8ff;
    font-size: calc(2.5*var(--spacing));
    position: absolute;
    top: 0.5em;
    left: 0.2em;
}

/* !!! NEED TO DESIGN HOW IT LOOKS */
.embed-controller,
.audio-embed-controller {
    inline-size: calc(14*var(--spacing));
    overflow: hidden;
    box-shadow: var(--shadow);
}

.link-controller {
    padding-inline: calc(0.3*var(--spacing));
    padding-block: calc(0.4*var(--spacing));
    max-inline-size: calc(8*var(--spacing));
    background: var(--background);
    border-left: 0.3em solid #b379ff;
    box-shadow: var(--shadow);
    display: inline-block;
    box-sizing: border-box;
    inline-size: auto;
    /* font-size: calc(0.6*var(--spacing)); */
}

/* !!! NEED TO DESIGN HOW IT LOOKS */
.pdf-controller {
    inline-size: calc(10*var(--spacing));
    block-size: calc(6*var(--spacing));
    background: var(--background);
    padding: calc(0.5*var(--spacing));
    padding-block-start: calc(2.5*var(--spacing));
    overflow: hidden;
    box-shadow: var(--shadow);
    text-align: left;
    align-self: center;
}

/* ------ ADDITIONAL STYLING */
.title {
    display: flex;
    flex-direction: column;
    padding-block: calc(2*var(--spacing));
    text-align: center;
}

.title ul {
    gap: calc(0.15*var(--spacing));
    /* padding-inline: initial; */
    overflow: initial;
}


section,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    inline-size: 100%;
}

footer {
    margin-block-start: calc(10*var(--spacing));
    gap: calc(0.5*var(--spacing));
    padding-block: var(--spacing);
}

/* ------ CREATING THE CLUTTER IN HERO SECTION */
.clutter {
    gap: calc(-1*var(--spacing));
    overflow: initial;
}

.clutter li {
    margin: calc(-1*var(--spacing));
    /* filter: grayscale(); */
}

.clutter li:hover {
    z-index: 2;
    transform: scale(1.2);
    /* filter: grayscale(0); */
}


/* ------ NEW CODE LINES FROM ERIC'S LOOM VIDEO */

button {
    padding-inline: calc(0.7*var(--spacing));
    padding-block: calc(0.4*var(--spacing));
    /* box-shadow: var(--shadow); */
}

button:hover {
    transition: 0.3s ease-in-out;
    transform: rotate(-15deg);
    box-shadow: var(--shadow);
}

#controls {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: calc(0.6*var(--spacing));
    justify-content: center;
    align-items: center;
    padding-block-start: calc(3*var(--spacing));
    padding-block-end: calc(0.3*var(--spacing));
    position: sticky;
    bottom: 0;
    z-index: 10;
}

/* hiding all sections initially */
.content-section {
    display: none;
    width: 100%;
}

/* showing only the active section */
.content-section.active {
    display: flex; 
    flex-direction: column;
    align-items: center;
    animation: 0.5s ease-in-out;
}

/* ------ MEDIA QUERIES */
@media (width > 900px) {
    :root {
        font-size: 110%;
    }

    .title {
        flex-direction: row;
        gap: 0;
    }

    footer {
        flex-direction: row;
        inline-size: 100%;
        justify-content: space-between;
    }

    footer p {
        margin-inline: var(--spacing);
    }

    #controls {
        grid-template-columns: repeat(6, auto);
        grid-template-rows: repeat(1, auto);
        padding-block: var(--spacing);
    }
}


@media (width > 1400px) {
    
    header .title,
    .title {
        gap: calc(5*var(--spacing));
        padding-block: calc(3*var(--spacing));
    }

    h1,
    h2 {
        transform: scale(1.5);
    }

    .box {
        padding: calc(2.5*var(--spacing));
    }
}

