@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Paytone+One&display=swap');

:root{
    --spacing: 1.5rem;
    --head-font: "Paytone One", sans-serif;
    --body-font: "Mona Sans", sans-serif;

    --black: #2b2b2b;
    --background: #FBF0E5;
    --shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

html{scroll-behavior: smooth;}


#section-all header { color: #ff431d; }
#section-all .box   { background: #1472FF; }

#section-image header { color: #37d6a4; }
#section-image .box   { background: #d497e0; }

#section-embed header { color: #ffc117; }
#section-embed .box   { background: #ff8fa7; }

#section-text header { color: #36a8ff; }
#section-text .box   { background: #d6f094; }

#section-link header { color: #b379ff; }
#section-link .box   { background: #ffb296; }

#section-attachment header { color: #ff6c6c; }
#section-attachment .box   { background: #5cecdd; }

/* button colors matching their corresponding section box */
[data-target="section-all"] { background: #1472FF; }
[data-target="section-image"] { background: #d497e0; }
[data-target="section-embed"] { background: #ff8fa7; }
[data-target="section-text"] { background: #d6f094; }
[data-target="section-link"] { background: #ffb296; }
[data-target="section-attachment"] { background: #5cecdd; }

body {
    font-family: var(--body-font);
    font-size: calc(0.7*var(--spacing));
    font-weight: 400;
    color: var(--black);
    background: var(--background);
    line-height: calc(1*var(--spacing));
    text-align: center;
    justify-items: center;
}

/* ------ TEXT SIZES AND STYLES FOR H1, H2, AND P */
h1,
h2 {
    font-family: var(--head-font);
    text-transform: uppercase;
}

h1 { font-size: calc(2.8*var(--spacing)); }
h2 { font-size: calc(2.5*var(--spacing)); }

p {
    max-inline-size: 90%;
}

strong {
    font-weight: 600;
}

a { 
    transition: color 0.3s ease-in-out;

    &:hover {
        color: #ff431d;
    }
}


/* ------ LAYOUT ITEMS */
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-block-size: 70vh;
    inline-size: 100%;
    padding-block: calc(2*var(--spacing));
    margin-block: calc(1.2*var(--spacing));
    overflow: hidden;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: calc(0.5*var(--spacing));
    /* overflow: hidden; */
    margin-inline: auto;
    padding: var(--spacing);
    /* max-inline-size: calc(50*var(--spacing)); */
}

/* li is representing each block of arena */
li {
    transition: all 1s ease-in-out;
    transform: rotate(var(--rotation)) translateY(var(--translation));

    &.rotate {
        transform: rotate(calc(-0.2*var(--rotation))) translateY(calc(-0.2*var(--translation)));
        transition: all 1.2s ease-in-out;
    }
}

#section-all {
    & li.rotate {
    transform: rotate(calc(-1*var(--rotation)));
    }

    & ul {
        padding-block: calc(1.2*var(--spacing));
    }
}

/* #section-all ul {
    padding-block: calc(1.2*var(--spacing));
} */

header {
    padding-block: calc(2.5*var(--spacing));
}

#channel-blocks {
    padding-block-start: calc(3*var(--spacing));
    padding-block-end: calc(5*var(--spacing));
}


/* ------ ARENA BLOCKS: EACH CONTENT TYPE STYLING */

/* to control the size of img */
.image-controller {
    block-size: calc(6.5*var(--spacing));
    border: 1.5em solid var(--background);
    aspect-ratio: 1/1;
    overflow: hidden;
    box-shadow: var(--shadow);

    &:hover {
        border: 0.2em solid var(--background);
        transform: scale(1.5);
        transition: 0.5s ease-in-out;
    }
}

img {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
}


.text-controller {
    padding: calc(0.6*var(--spacing));
    padding-block-start: calc(2.7*var(--spacing));
    max-inline-size: calc(26*var(--spacing));
    position: relative;
    text-align: left;
    background: var(--background);
    box-shadow: var(--shadow);
    overflow: hidden;

    /* quotation mark symbol */
    &::before {
        content: "“”";
        font-family: var(--head-font);
        letter-spacing: calc(0.3*var(--spacing));
        color: #36a8ff;
        font-size: calc(2.5*var(--spacing));
        position: absolute;
        top: 0.5em;
        left: 0.2em;
    }
}

.embed-controller {
    display: flex;
    flex-direction: row;
    gap: calc(0.5*var(--spacing));
    justify-self: center;
    box-shadow: var(--shadow);
    background: var(--background);
    border: 0.8em solid var(--background);

    & img {
        inline-size: calc(3*var(--spacing));
        block-size: calc(3*var(--spacing));
        overflow: hidden;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;

        &:hover {
            transform: scale(1.2);
            transition: 0.5s ease-in-out;
            /* border: 0.2em solid var(--background); */
        }
    }
}

.link-controller {
    padding-inline: calc(0.3*var(--spacing));
    padding-block: calc(0.4*var(--spacing));
    max-inline-size: calc(8*var(--spacing));
    background: var(--background);
    border-left: 0.3em solid #b379ff;
    box-shadow: var(--shadow);
    display: inline-block;
    box-sizing: border-box;
    inline-size: auto;
}

/* !!! NEED TO DESIGN HOW IT LOOKS */
.pdf-controller {
    inline-size: calc(10*var(--spacing));
    block-size: calc(6*var(--spacing));
    background: var(--background);
    padding: calc(0.5*var(--spacing));
    padding-block-start: calc(2.5*var(--spacing));
    text-align: left;
    align-self: center;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        display: block;
        inline-size: 60%;
        block-size: calc(1.5*var(--spacing));
        background: #ff6c6c;
        clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 0% 100%);
        top: -2.13em;
        left: 0;
    }

    &::after {
        content: "PDF";
        position: absolute;
        top: -2em;
        left: 1em;
        font-family: var(--body-font);
        color: var(--background);
        font-weight: 600;
        font-size: calc(0.6*var(--spacing));
        }
}

.attachment-block {
    box-shadow: var(--shadow);
    margin-block: var(--spacing);
}

/* ------ ADDITIONAL STYLING */
header {
    display: flex;
    flex-direction: column;
    padding-block: calc(2*var(--spacing));
    text-align: center;

    & ul {
        gap: calc(0.15*var(--spacing));
        /* overflow: hidden; */
    }
}


section,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    inline-size: 100%;
}

footer {
    margin-block-start: calc(10*var(--spacing));
    gap: calc(0.5*var(--spacing));
    padding-block: var(--spacing);
}

/* ------ CREATING THE CLUTTER IN HERO SECTION */
.clutter {
    gap: calc(-1*var(--spacing));
    overflow: initial;

    & li {
        margin: calc(-1*var(--spacing));
    }
}

.clutter li:hover,
li:hover {
    z-index: 2;
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
}

/* !!!something is fishy around here
something is overriding my clutter interaction */


/* ------ NEW CODE LINES FROM ERIC'S LOOM VIDEO */

button {
    padding-inline: calc(0.7*var(--spacing));
    padding-block: calc(0.4*var(--spacing));
    /* box-shadow: var(--shadow); */

    &:hover {
        transition: 0.3s ease-in-out;
        transform: rotate(-15deg);
        box-shadow: var(--shadow);
    }
}

nav {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: calc(0.6*var(--spacing));
    justify-content: center;
    align-items: center;
    padding-block-start: calc(3*var(--spacing));
    padding-block-end: calc(0.3*var(--spacing));
    position: sticky;
    bottom: 0;
    z-index: 10;
}

/* hiding all sections initially */
.content-section {
    display: none;
    width: 100%;

    &.active {
        display: flex; 
        flex-direction: column;
        align-items: center;
        animation: 0.5s ease-in-out;
    }
}

/* ------ MEDIA QUERIES */
@media (width > 900px) {
    :root {
        font-size: 110%;
    }

    header {
        flex-direction: row;
        gap: 0;
    }

    footer {
        flex-direction: row;
        inline-size: 100%;
        justify-content: space-between;
    }

    address {
        margin-inline: var(--spacing);
    }

    nav {
        grid-template-columns: repeat(6, auto);
        grid-template-rows: repeat(1, auto);
        padding-block: var(--spacing);
    }
}


@media (width > 1400px) {
    
    #section-all header,
    header {
        gap: calc(5*var(--spacing));
        padding-block: calc(3*var(--spacing));
    }

    h1,
    h2 {
        transform: scale(1.5);
    }

    .box {
        padding: calc(2.5*var(--spacing));
    }
}

